<ul class="dropdown-menu" data-role="menu">
	<li>
		<a href ng-click="energyCtrl.selectStatus('Show all', '')">
			Show all
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectStatus('Doing it', 'doing')">
			Doing it
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectStatus('Done', 'done')">
			Done
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectStatus('To do', 'todo')">
			To do
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectStatus('New', 'new')">
			New
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectStatus('Dismiss', 'dismiss')">
			Dismiss
		</a>
	</li>
</ul>
