<ul class="dropdown-menu">
	<li>
		<a href ng-click="energyCtrl.selectType('Show all', '')">
			Show all
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectType('Electronics', 'electronics')">
			Electronics
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectType('Kitchen', 'ktichen')">
			Kitchen
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectType('Laundry', 'laundry')">
			Laundry
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectType('Lighting', 'lighting')">
			Lighting
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectType('Heating', 'heating')">
			Heating / Cooling
		</a>
	</li>
	<li>
		<a href ng-click="energyCtrl.selectType('Water', 'water')">
			Water
		</a>
	</li>
</ul>