<div class="tip-key">
	<div class="panel panel-inner tip-key__header" style="margin: 0; padding-top: 20px">

		<h3 class="key-header__title">Key</h3>

		<div class="key-header__more-info">
			<span>
				<a href="" ng-click="energyCtrl.showInfo()">
					<span class="sy-icon--circle_info" style="display: inline; float: none; font-size: 15px"></span>
				</a>
				<a href="" ng-click="energyCtrl.showInfo()">More Information</a>
			</span>

		</div>

	</div>
	<div class="tip__keys">

		<div class="tip__key">
			<span class="tip-key__icon sy-icon--parents"></span> Popularity
		</div>

	</div>

</div>