

<div class="panel">
	<div><!--<div sy-cta>-->
		<div  style="overflow: hidden">
			<div id="feaNotEngaged">
				<div id="page-content" class="page-content">
					<div class="page-layout">
						<div class="content-layout-main">

							<div>
								<div class="inner-promo-container">
									<div class="promo promo--hero">
										<div class="promo-wrap">

											<div class="promo-description" sy_promo_type_name_track="sy_Promo_Type_Name_Track">
												<h2 class="promo-title">
													Reduce your bill
												</h2>
												<p>Discover how your major appliances impact your bill and how to make small changes for big results</p>
												<a sy-doc-href="energytool.reduceyourbill"  target="_blank" class="promo-button" title="Compare" data-analytics-nav-type="Promo" data-analytics-nav-name="">See if you could save</a>                    </div>
											<div class="promo-icon">
												<img src="img/Reduce-grey1.svg?h=120&amp;w=120&amp;la=en&amp;hash=99E18F6C3DCE83A4CCB8F987D4FA6196" alt="Reduce grey1">
											</div>
										</div>
									</div>

									<div class="promo promo--hero">
										<div class="promo-wrap">

											<div class="promo-description" sy_promo_type_name_track="sy_Promo_Type_Name_Track">
												<h2 class="promo-title">
													Compare your bill
												</h2>
												<p>Find out how you compare to the households around you</p>
												<a sy-doc-href="energytool.compareyourbill" target="_blank" class="promo-button" title="Compare" data-analytics-nav-type="Promo" data-analytics-nav-name="">Compare</a>                    </div>
											<div class="promo-icon">
												<img src="img/Compare-grey1.svg?h=120&amp;w=120&amp;la=en&amp;hash=DB17870A23B6085624714A0E43608658" alt="Compare grey1">
											</div>
										</div>
									</div>

								</div>

							</div>
							<div>
								<div class="inner-promo-container">
									<div class="promo promo--hero" ng-if="!accountCtrl.isPodFCPFlag">
										<div class="promo-wrap">

											<div class="promo-description" sy_promo_type_name_track="sy_Promo_Type_Name_Track">
												<h2 class="promo-title">
													Save with solar
												</h2>
												<p>Find out how much you could save with solar, tailored to your needs</p>
												<a sy-doc-href="energytool.Calculatesavings" target="_blank" class="promo-button" title="Calculate savings" data-analytics-nav-type="Promo" data-analytics-nav-name="">Calculate savings</a>
											</div>
											<div class="promo-icon">
												<img src="img/Solar-grey2.png?h=120&amp;w=120&amp;la=en&amp;hash=F6C5B3F1E730A2EE4AAC172B22AA81B6" alt="">
											</div>
										</div>
									</div>

									<div class="promo promo--hero">
										<div class="promo-wrap">
											<div class="promo-description" sy_promo_type_name_track="sy_Promo_Type_Name_Track">
												<h2 class="promo-title">
													Break down your bill
												</h2>
												<p>Find out what elements make up your bill</p>
												<a sy-doc-href="energytool.breakdownyourbill" target="_blank" class="promo-button" title="Learn more" data-analytics-nav-type="Promo" data-analytics-nav-name="">Learn more</a>                    </div>
											<div class="promo-icon">
												<img src="img/Breakdown-grey1.svg?h=120&amp;w=120&amp;la=en&amp;hash=8B50C723AEDABD50CE14EEDD4E768498" alt="Breakdown grey1">
											</div>
										</div>
									</div>

								</div>

							</div>



						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>










<!--<div class="panel">
	<div sy-cta>
		<div class="sy-alert&#45;&#45;info" style="overflow: hidden">
			<div id="feaNotEngaged">
				<h1 class="clearfix">
					<span class="sy-icon&#45;&#45;circle_info"></span> Want to keep your energy use in check?
				</h1>
				<p class="margin-top-20">
					Make use of the Energy Saving Toolbox to compare, track and build your personalised energy saving plan and start saving energy today!
				</p>
				<p>
					<a href="" ng-click="accountCtrl.openEnergyProfile();$hide()">Find out more</a>
				</p>
			</div>
		</div>
	</div>
</div>-->
