<div class="main">

	 <div class="main__content">

	 	<div class="tip__utility">
	 		<div ng-include="'app/routes/user/account/energytoolkit/energytoolkit-banner.html'"></div>
		</div>

         <!--ng-if="!accountCtrl.currentAccount.feaDetails.hasEnergyProfile" <div class="tip__header" ng-if="accountCtrl.currentAccount.feaDetails.hasEnergyProfile">
            <div class="panel ">
                <div class="panel-header" style="border: none">
                    <h1>Your energy saver plan</h1>
                </div>

                <div class="panel-header" style="border: none">
                    <div class="energy-saver-filter">
                        <div ng-include="'app/routes/user/account/energytoolkit/energytoolkit-filter.html'"></div>
                        <div ng-include="'app/routes/user/account/energytit/energytoolkit-key.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tip__side-nav">
            <div class="panel panel-inner">
                <div ng-include="'app/routes/user/account/energytoolkit/energytoolkit-aside.html'"></div>
            </div>
        </div>

		<div class="tip__body">
			<div class="panel tip-summary" style="clear: both; padding-top: 0">
				<div class="panel-body" style="padding-top: 0">
					<div ng-include="'app/routes/user/account/energytoolkit/energytoolkit-tips.html'"></div>
				</div>
			</div>
		</div>-->

	</div>

</div>
