<div class="form-horizontal" ng-form="emailForm"  style="position: relative">
    <label for="emailAddress">Email address:<span ng-if="isRequired()" class="label-required"></span></label>
    <input type="email"
           id="emailAddress"
           name="emailAddress"
           placeholder="Email address"
           ng-model="data.address"
           ng-required="true"
           class="form-control"
           sy-pattern="EMAIL_ADDRESS"
           ng-change="data.valid = emailForm.$valid; emailForm.emailAddress.$valid"
           ng-init="data.valid = emailForm.$valid"
           sy-focus-me
           sy-validate-email
     />

    <div sy-alert-box="emailAddress">
        <p ng-show="emailForm.emailAddress.$error.email">The email address you have entered is not valid. Please enter a valid email address.</p>
        <p ng-show="emailForm.emailAddress.$error.required">Please provide an email address.</p>
        <p ng-show="emailForm.emailAddress.$error.pattern">The email address you have entered is not valid. Please enter a valid email address.</p>
        <p ng-show="!emailForm.emailAddress.$error.required && !emailForm.emailAddress.syValidateEmail">Double check your email is correct. If you are happy with it, then please ignore this message.</p>
    </div>
    <br>
</div>
