<div ng-controller="MsgCntlr">
    <div ng-form class="" name="resetPasswordForm" novalidate>

        <div class="sy-alert--info">
            <span class="sy-icon--circle_info"></span> Please do not refresh your browser or use the back or forward buttons of your browser while completing this process.
        </div>
		<div class="must-complete">All fields must be completed.</div>
        <div sy-form-group data-layout="form">
            <label class="label-required" for="oldPassword">Old password:</label>

            <div>
                <input type="password" name="oldPassword" id="oldPassword" ng-model="cpCtrl.password.oldPassword" class="form-control" required sy-focus-me />
                <div sy-alert-box="oldPassword">
                    <p>{{findMsgHTML('MA_E31')}}</p>
                </div>
            </div>
        </div>

        <div sy-form-group data-layout="form">
            <label class="label-required" for="newPassword">New password:</label>
            <div>
                <input type="password"
                       name="newPassword"
                       id="newPassword"
                       ng-model="cpCtrl.password.newPassword"
                       class="form-control"
                       required  ng-minlength="6" ng-maxlength="32"
                        />
                <div sy-alert-box="newPassword">
                    <p ng-show="resetPasswordForm.newPassword.$error.required">{{findMsgHTML('MA_E32')}}</p>
                    <p ng-show="resetPasswordForm.newPassword.$error.minlength">{{findMsgHTML('MA_E33')}}</p>
                    <p ng-show="resetPasswordForm.newPassword.$error.maxlength">{{findMsgHTML('MA_E34')}}</p>
                </div>

                <div sy-password-strength="cpCtrl.password.newPassword" ></div>

            </div>
        </div>

        <div sy-form-group data-layout="form">
            <label class="label-required" for="newPasswordConfirm">Confirm password:</label>

            <div>
                <input type="password" name="newPasswordConfirm" id="newPasswordConfirm"
                        ng-model="cpCtrl.password.newPasswordConfirm"
                        class="form-control"
                        required
                        sy-match="cpCtrl.password.newPassword"
                        />
                <div sy-alert-box="newPasswordConfirm">
                    <span ng-show="resetPasswordForm.newPasswordConfirm.$error.required">{{findMsgHTML('MA_E35')}}</span>
                    <span ng-show="resetPasswordForm.newPasswordConfirm.$error.syMatch">{{findMsgHTML('MA_E36')}}</span>
                </div>
            </div>
        </div>

    </div>
</div>