<div>
    <div class="material">

        <div class="hide-on-med-and-up" ng-if="sasCtrl.isMobile()" ng-include="'app/routes/user/account/seeandsave/templates/graph/_sas-table.html'"></div>

        <div ng-include="'app/routes/user/account/seeandsave/templates/graph/_sas-graph-controls.html'"></div>

        <div ng-include="'app/routes/user/account/seeandsave/templates/graph/_sas-graphs.html'"></div>

        <div ng-include="'app/routes/user/account/seeandsave/templates/graph/_sas-graph-footer.html'"></div>
    </div>
</div>