<div class="response" id="printableArea" ng-if="payCtrl.usabilla_surveytrigger('/ma/payment/success')">
    <div sy-wizard-success real-time="true">
        <div class="row">
            <div class="logo visible-print pull-left">
                <img src="img/Synergy_logo_mono.svg" alt="Synergy">
            </div>
        </div>

        <h2 class="payment-terms-summary-label">Your payment was successfully processed</h2>

        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Receipt</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.receiptNumber"></p>
        </div>

        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Payment number</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.paymentNumber"></p>
        </div>

        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Account number</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.contractAccountNumber"></p>
        </div>

        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Card holder&rsquo;s name</h3>
            <p class="inline payment-details-entry-value"  ng-bind="payCtrl.getStoredCard().cardHolderName"></p>
        </div>

        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Card number</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.maskedCardNumber"></p>
        </div>


        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Card type</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.getStoredCard().displayCardType"></p>
        </div>
        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Card surcharge</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.getStoredCard().cardSurCharge"></p>
        </div>

        <div class="payment-details-entry" ng-if="payCtrl.transferp2pArrangementModel.p2pArrangementFlag && payCtrl.transferp2pArrangementModel.numberOfInstalments">
            <h3 class="inline payment-details-entry-label">Number of instalments</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.transferp2pArrangementModel.numberOfInstalments"></p>
        </div>

        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Payment amount</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.amountOriginalInDollars | currency:'$'"></p>
        </div>
        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Card surcharge amount</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.amountSurchargeInDollars | currency"></p>
        </div>
        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Total paid</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.amountInDollars | currency"></p>
        </div>
        <div class="payment-details-entry">
            <h3 class="inline payment-details-entry-label">Date processed</h3>
            <p class="inline payment-details-entry-value" ng-bind="payCtrl.payResult.paymentDate"></p>
        </div>

        <pay-receipt email-address="payCtrl.account.businessPartnerDetails.emailAddress" pay-result="payCtrl.payResult"></pay-receipt>
    </div>

</div>
