<style>
    .activeButton{
        background-color: white;
    }

    .ui-select-match-text{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 40px;
    }
    .ui-select-toggle > .btn.btn-link {
        margin-right: 10px;
        top: 6px;
        position: absolute;
        right: 10px;
    }
</style>
<div class="panel panel-inner" ng-controller="SolarSearchCtrl as solarSearchCtrl">

        <div class="sy-alert--info" ng-if="solarSearchCtrl.userSearch.error"><p ng-bind="solarSearchCtrl.userSearch.error"></p></div>

        <div class="form-horizontal interval-data__search">

            <div class="form-group" style="margin-top: 20px;" >
                <div class="btn-group" style="width:100%;" ng-if="solarCtrl.solar.hasValue">
                    <button title="Chart" class="btn btn-chart sy-icon-stats-bar--charts activeButton" style="margin-right: 0px;padding-bottom: 9px; border: 2px solid;width: 35px;height: 35px;" ng-click="solarCtrl.setDataMode('Consumption','sy-icon-stats-bar--charts')">
                        <span class="tab.icon"></span></button>
                    <button title="Tabular" class="btn btn-chart sy-icon-tabular--charts" style="padding-bottom: 9px; border: 2px solid;width: 35px;height: 35px;" ng-click="solarCtrl.setDataMode('Tabular','sy-icon-tabular--charts')">
                        <span class="tab.icon"></span></button>
                </div>
            </div>

            <div  id="intervalDateRangeSelector" class="form-group">
                <label>Date range</label><br />
                <button type="button"
                        class="sy-button--dropdown sy-button--icon-left"
                        data-animation="am-flip-x"
                        data-placement="bottom-left"
                        data-container="#intervalDateRangeSelector"
                        ng-click="solarSearchCtrl.search();">
                    <span class="sy-icon--calendar"></span>
                    <span ng-bind="solarSearchCtrl.dateRangeLabel()"></span>
                    <span class="caret"></span>
                </button>
            </div>
            <div class="form-group" ng-if="solarSearchCtrl.electricityMeters().length>0">
                <label>Meters selected</label>
                <div ng-dropdown-multiselect=""
                     options="solarSearchCtrl.electricityMeters()"
                     selected-model="solarSearchCtrl.userSearch.meters"
                     extra-settings="solarSearchCtrl.dropdownSettings"
                     translation-texts="solarSearchCtrl.translationbutton">
                </div>

            </div>


            <div class="form-group">
                <label>&nbsp;</label><br />
                <button class="sy-button--primary" ng-click="solarSearchCtrl.display()">
                    <span class="sy-icon--search"></span>&nbsp;Display
                </button>
            </div>


            <div class="btn-group pull-right exportprint"  ng-if="solarCtrl.solar.hasValue" >
                <label>&nbsp;</label><br/>
                <label class="btn" ng-click="accountCtrl.openRESIIntervalExport()"><span class="sy-icon--new_window"></span> Export</label>
                <label class="btn" ng-click="solarCtrl.printChart()"><span class="sy-icon--print"></span> Print</label>
            </div>
        </div>
    <div >
        <br/>
        <!-- <p>Now you can see what day and time you use energy around the home. This makes it easier to see where you could shift
            more of your usage to Off-peak
            times to maximise the value of this plan.</p>

        -->
    </div>
</div>