<div class="main interval-data" style="width:100%" ng-controller="SolarCtrl as solarCtrl" id="intervalDataContainer">

    <div class="main__content full-width">

        <div class="panel interval-data ">
            <div class="panel-header">
                <h1></h1>
            </div>
            <div class="panel-header">
                <div ng-include="'app/routes/user/account/usage/interval/_solar-search.html'"></div>
            </div>
            <div class="panel-body">
                <div ng-if="accountCtrl.isAmiCustomer()">
                    <div ng-include="'app/routes/user/account/amiinsight/ami-usage-cost.html'"></div>
                </div>
                <div class="interval-data__graph"  ng-include="'app/routes/user/account/usage/interval/_solar-graph.html'"></div>
                <div class="interval-data__nav"  ng-include="'app/routes/user/account/usage/interval/_solar-navigation.html'"></div>
                <br><br>
            </div>
            <div  ng-if="solarCtrl.showGeneration()" ng-include="'app/routes/user/account/usage/interval/_solar-tabs.html'"></div>
            <div ng-if="accountCtrl.isAmiCustomer()">
                <div ui-view="amiInsight"></div>
            </div>
        </div>
    </div>
</div>

