<div ng-if="intervalDataCtrl.intervalData.dayInterval > 0">
    <div ng-if="intervalDataCtrl.intervalData.mode==='Tabular' && intervalDataCtrl.intervalData.dailyEstimateValue" class="estimated-footer-text">
        <p><sup>*</sup>Your meter reading data has been estimated by the network operator, Western Power.</p><br/>
    </div>

    <button id="fetchMoreBtn1"
            type="button"
            class="sy-button--default pull-left"
            ng-click="intervalDataCtrl.previousInterval()"
            sy-busy-chevron="fetchMore"
            busy-class="sy-icon--chevron-left pull-left">
        Previous range
    </button>
    <button id="fetchMoreFutureBtn1"
            type="button"
            class="sy-button--default pull-right"
            ng-click="intervalDataCtrl.nextInterval()"
            sy-busy-chevron="fetchMore"
            busy-class="sy-icon--chevron-right pull-right">
        Next range
    </button>
</div>
<div ng-if="intervalDataCtrl.intervalData.dayInterval === 0">
    <div ng-if="intervalDataCtrl.intervalData.mode==='Tabular' && intervalDataCtrl.intervalData.halfHourlyEstimateValue" class="estimated-footer-text">
        <p><sup>*</sup>Your meter reading data has been estimated by the network operator, Western Power.</p><br/>
    </div>
    <button id="fetchMoreBtn"
            type="button"
            class="sy-button--default pull-left"
            ng-click="intervalDataCtrl.previousInterval()"
            sy-busy-chevron="fetchMore"
            busy-class="sy-icon--chevron-left pull-left">
        Previous day
    </button>
    <button id="fetchMoreFutureBtn"
            type="button"
            class="sy-button--default pull-right"
            ng-click="intervalDataCtrl.nextInterval()"
            sy-busy-chevron="fetchMore"
            busy-class="sy-icon--chevron-right pull-right">
        Next day
    </button>
</div>
<br>