<ul class="dropdown-menu" data-role="menu">
    <!--
    <li role="presentation">
        <a role="menuitem" href="" ng-click="intervalSearchCtrl.lastWeek();$hide()">
            <i class="sy-icon--unshare"></i>&nbsp;Last week
        </a>
    </li>
    <li role="presentation" class="divider">
        -->
    </li>
    <li role="presentation">
        <a id="myDetailsLink" role="menuItem" href="" ng-click="intervalSearchCtrl.lastYear();$hide()">
            <i class="sy-icon--unshare"></i>&nbsp;Same period last year

        </a>
    </li>
    <li role="presentation" class="divider">
    </li>
    <li role="presentation">
        <a role="menuitem" href="" ng-click="intervalSearchCtrl.search();$hide()">
            <i class="sy-icon--calendar"></i>&nbsp;Custom range

        </a>
    </li>
</ul>