<div  class="panel margin-top-10">
    <div class="panel-header">
        <h3 class="h3Promo">
            <img src="img/track-your-usage-black.svg" title="Detailed usage data is now at your fingertips" alt="" class="icon imgPromo">
            <span class="spanPromo">Detailed usage data is now at your fingertips</span>
            
        </h3>
    </div>
    <div class="panel-body">
        <span>Interval data is now available in the <a ng-click="accountCtrl.gotoIntervalData()">Usage tab</a> . Now you can look back at your last billing period and see how much energy you've used in 30 minute intervals.</span>
    </div>
    <div class="form-horizontal panel-footer">
        <a href class="sy-button--default sy-button--block"
           ng-click="accountCtrl.gotoIntervalData()">
            <span>Take me there</span>
        </a>
    </div>

</div>
