<div  class="panel margin-top-10">
    <div class="panel-header">
        <h3 class="h3Promo">
            <img alt="" src="img/track-your-usage-black.svg" class="icon imgPromo">
            <span  class="spanPromo">Detailed export data is now at your fingertips</span>
        </h3>
    </div>
    <div class="panel-body">
        
        <!--Dashboard Promo Box for Businesses with Interval Consumption Data AND Export Interval Data -->
        <span>Interval data for solar energy exported is now available in the 
            <a href ng-click="accountCtrl.gotoIntervalData()">Interval Data</a> tab. This means you can see how much you've exported
                back to the grid in 30 minute intervals (excluding current day).</span>
    </div>
    <div class="form-horizontal panel-footer">
        <a href class="sy-button--default sy-button--block"
           ng-click="accountCtrl.gotoIntervalData()">
            <span>Take me there</span>
        </a>
    </div>

</div>
