<div class="container">
    <div class="main">

        <div class="main__header">
            <div class="account-header">
                <div class="account-header__info">
                    <h1 style="color: white;">Reset Your Password</h1>

                    <span ng-show="validToken==true">Use the form below to complete the password reset process</span>

                    <span ng-show="validToken==false">An error occurred with the password reset process</span>
                </div>
            </div>
        </div>

        <div class="main__content full-width">
            <div class="panel">
                <form method="post" class="form-horizontal form-signin" name="passwordResetForm" novalidate>

                    <div sy-form-group data-layout="form">

                        <label class="control-label" for="newPassword">New Password:</label>

                        <div>
                            <input type="password" name="newPassword" id="newPassword" ng-model="data.newPassword"
                                   class="form-control"
                                   required ng-minlength="6" ng-maxlength="32"
                                    />

                            <div sy-alert-box="newPassword">
                                <p ng-show="passwordResetForm.newPassword.$error.required">
                                    Please enter a password.
                                </p>
                                <p ng-show="passwordResetForm.newPassword.$error.minlength || passwordResetForm.newPassword.$error.maxlength">
                                    Please enter a password between 6 - 32 characters.
                                </p>
                            </div>

                            <div sy-password-strength="data.newPassword">
                            </div>
                        </div>
                    </div>

                    <div sy-form-group data-layout="form">
                        <label class="control-label" for="newPasswordConfirm">Confirm Password:</label>

                        <div>
                            <input type="password" name="newPasswordConfirm" id="newPasswordConfirm"
                                   ng-model="data.newPasswordConfirm"
                                   class="form-control"
                                   required
                                   sy-match="data.newPassword"
                                    />

                            <div ng-show="passwordResetForm.newPasswordConfirm.hasVisited && passwordResetForm.newPasswordConfirm.$error.syMatch">
                                <p class="sy-alert--danger">
                                        Password and Confirm Password must match.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div sy-form-group data-layout="form">
                        <span></span>
                        <button class="btn btn-primary btn-block pull-right" ng-disabled="passwordResetForm.$invalid"
                                ng-click="resetPasswordUsingToken()">Set Password
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

