<div sy-form-group class="download-type" data-layout="form" ng-if="!exportCtrl.intervalData.isVisual()">
    <label class="control-label label-required">Download type</label>
    <div class="btn-group acc-radio-btn-group" ng-model="exportCtrl.dataExport.details.downloadType" style="margin-bottom: 10px;"  ng-required="true" bs-radio-group>
        <div class="acc-radio-btn">
            <input type="radio" class="" id="hourly" value="hourly">
            <label for="hourly">{{intervalData.isGas() ? 'Hourly' : 'Half hourly'}}</label>
        </div>

        <div class="acc-radio-btn">
            <input type="radio" class="" id="daily" value="daily">
            <label for="daily">Daily</label>
        </div>

    </div>
</div>

<div sy-form-group class="file-format" data-layout="form">
    <label class="control-label label-required">File format</label>
    <div>
        <div class="acc-radio-btn-group" style="margin-bottom: 10px;" ng-if="exportCtrl.intervalData.isVisual()">
            <div class="acc-radio-btn" ng-repeat="file in exportCtrl.intervalData.visualFormats">
                <input type="radio" id="{{file.name}}1" ng-model="exportCtrl.dataExport.details.downloadFormat" class="" value="{{file.format}}" ng-required="true" />
                <label for="{{file.name}}1">{{file.name}}</label>
            </div>
        </div>

        <div class="btn-group acc-radio-btn-group" ng-model="exportCtrl.dataExport.details.downloadFormat"  ng-required="true" style="margin-bottom: 10px;" ng-if="!exportCtrl.intervalData.isVisual()">
            <div class="acc-radio-btn" ng-repeat="file in exportCtrl.intervalData.dataFormats">
                <input type="radio" id="{{file.name}}2" ng-model="exportCtrl.dataExport.details.downloadFormat" class="" value="{{file.format}}" ng-required="true" />
                <label for="{{file.name}}2">{{file.name}}</label>
            </div>
        </div>
    </div>
</div>