<div class="form-group form-separator">
    <div sy-server-include="MYACC_CC_CARD_ALERT"></div>
</div>
<div  ng-form="cardForm" ng-controller="MsgCntlr">
    <div sy-form-group data-layout="form" ng-if="cardModel.hasStoredCards && !cardModel.showdefaultdetails" >
        <label class="" for="newcard">Select card</label>
        <div>
            <div class="col-xs-12">
                <label class="radio-inline" for="card">
                    <input type="radio" class="sy-radio" id="card" ng-model="testMethod" value="1" ng-click="setTestMethod(false)" />
                    {{cardModel.storedCards[0].maskedCreditCardNumber}}
                </label>
            </div>
            <div class="col-xs-12">
                <label class="radio-inline" for="newcard">
                    <input type="radio" class="sy-radio" id="newcard" ng-model="testMethod" value="2" ng-click="setTestMethod(true)"/>
                    Pay with a new card
                </label>
            </div>
        </div>
    </div>
    <!--!$scope.cardModel-->
    <div ng-if="testMethod === '2' || cardModel.showdefaultdetails">
        <div sy-form-group data-layout="form">
            <label class="label-required" for="creditCardHolder">Cardholder name:</label>
            <div>
                <div sy-form-group data-layout="tooltip">
                    <input type="text" ng-model="cardModel.newCard.creditCardHolder"
                           id="creditCardHolder" name="creditCardHolder"
                           class="form-control" maxlength="60" sy-pattern="NAME" required ng-paste="$event.preventDefault()"/>
                    <a href ng-click="showCardHolderNameInfo()"><span class="sy-icon&#45;&#45;circle_question_mark"></span></a>

                    <div sy-alert-box="creditCardHolder" sy-analytics-error="creditCardHolder">
                        <p ng-show="cardForm.creditCardHolder.$error.required">{{findMsgHTML('MA_E20')}}</p>
                        <p ng-show="cardForm.creditCardHolder.$error.pattern">{{findMsgHTML('E412')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div sy-form-group data-layout="form">
            <label for="cardNumber" class="control-label label-required">Card number:</label>
            <div sy-form-group data-layout="tooltip">
                <div>
                    <div sy-card-type-picker="cardModel.cardType" card-number="cardModel.new.cardNumber">
                        <input type="text" ng-model="cardModel.newCard.cardNumber" id="cardNumber" name="cardNumber" sy-pattern="CARD_NUMBER" sy-validate-card ng-maxlength="16" maxlength="16" class="form-control" required />
                    </div>
                    <div sy-alert-box="cardNumber" sy-analytics-error="cardNumber">
                        <p ng-show="cardForm.cardNumber.$error.syValidateCard">{{findMsgHTML('MA_E22')}}</p>
                        <p ng-show="cardForm.cardNumber.$error.required">{{findMsgHTML('MA_E22')}}</p>
                        <p ng-show="cardForm.cardNumber.$error.pattern">{{findMsgHTML('MA_E23')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div sy-form-group data-layout="form">
            <label class="control-label label-required" for="expiryMonth">Card expiry:</label>
            <div>
                <input id="expiryMonth"
                       type="tel"
                       name="expiryMonth"
                       class="input-mini form-control"
                       ng-model="cardModel.newCard.expiryMonth"
                       placeholder="MM"
                       maxlength="02"
                       sy-pattern="MONTH"
                       sy-move-focus
                       sy-validate-card-expiry
                       required style="margin: 0; width:50px;display:inline">
                </input>
                <span style="display:inline">/</span>
                <input id="expiryYear"
                       type="tel"
                       name="expiryYear"
                       class="input-mini form-control"
                       ng-model="cardModel.newCard.expiryYear"
                       placeholder="YY"
                       maxlength="02"
                       sy-pattern="YEAR"
                       sy-move-focus
                       sy-validate-card-expiry
                       required style="margin: 0; width:50px;display:inline">
                </input><br/>
                <span style="padding: 10px">Month</span>
                <span style="padding: 14px">Year</span>

                <div sy-alert-box="expiryMonth" sy-analytics-error="expiryMonth" style="width:60%">
                    <p ng-show="!cardForm.expiryMonth.$error.syValidateCardExpiry">{{findMsgHTML('MA_E60')}}</p>
                    <p ng-show="cardForm.expiryMonth.$error.syValidateCardExpiry">{{findMsgHTML('MA_E65')}}</p>
                </div>

                <div ng-show="cardForm.expiryMonth.$valid" sy-alert-box="expiryYear" sy-analytics-error="expiryYear"  style="margin-left:60px;width:60%">
                    <p ng-show="!cardForm.expiryYear.$error.syValidateCardExpiry" >{{findMsgHTML('MA_E61')}}</p>
                    <p ng-show="cardForm.expiryYear.$error.syValidateCardExpiry">{{findMsgHTML('MA_E65')}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
